.container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* border: solid 1px; */
    width: 400px;
}

.button {
    margin: 2px;  
    cursor: pointer; 
    border: none;
    outline: none;
    background-color: #FBCA1F;
    padding: 10px 20px;
    font-size: 15px;
    font-weight: 700;
    color: black;
    border-radius: 5px;
    transition: all ease 0.1s;
    box-shadow: 0px 5px 0px 0px black;
  }
  
  .button:active {
      transform: translateY(5px);
      box-shadow: 0px 0px 0px 0px black;
    }

    .input {
        width: 80%;
        max-width: 220px;
        height: 20px;
        padding: 7px;
        margin: 1em;
        margin-right: 1px;
        border-radius: 5px;
        border: 1.5px solid lightgrey;
        outline: none;
        transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
        box-shadow: 0px 0px 20px -18px;
      }
      
      .input:hover {
        border: 2px solid lightgrey;
        box-shadow: 0px 0px 20px -17px;
      }
      
      .input:active {
        transform: scale(0.95);
      }
      
      .input:focus {
        border: 2px solid grey;
      }    