.container {
    display: flex;
    border: solid 1px;    
    background-color: rgb(40, 122, 230);
    padding: 1%;    
    align-items: center;
    justify-content: space-between;
}

.logo{
    max-width: 300px;
}

.p {
    font-weight: bold;
    text-decoration: none;
    color: rgb(255, 210, 7);
    font-size: xx-large;
}

.p:hover {
    color: rgb(250, 238, 185);
}

.navlink {
    text-decoration: none;
}